.black { color: $c-black; }
.white { color: $c-white; }

.second { color: $c-second; }
.blue { color: $c-blue; }
.blue-1 { color: $c-blue-1; }

.brown { color: $c-primary;}
.brown-1 { color: $c-brown-1;}
.orange { color: $c-orange; }
.green { color: $c-green; }
.red-2-text { color: $c-red-2-text; }
.red-text { color: $c-red-text; }
.red-1 { color: $c-red-1-text; }
.red { color: $c-error; }
.gray { color: $c-dark-gray; }
.gray-1-text { color: $c-gray-1-text; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-gray { background-color: $c-system; }
.bg-brown { background-color:$c-brown; }
.bg-brown-1 { background-color: $c-brown-1; }
.bg-white-1 { background-color: $c-white; }
.bg-gray-1 { background-color: $c-system; }
.bg-gray-2 { background-color: $c-second; }
.bg-gray-3 { background-color: $c-green-4; }
.bg-gray-5 { background-color: $c-gray-3; }
.bg-blue-1 { background-color: $c-purple; }
.bg-red-1 { background: $c-red-1; }
.bg-red-2 { background-color: $c-red-bg-1;}
.bg-orange { background-color: $c-orange; }
.bg-green { background-color: $c-green; }
.bg-yellow { background-color: $c-yellow; }
.bg-blue { background-color: $c-blue;}
